@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slideOutLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes slideOutRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
.animate-slide-in-right {
  animation: slideInRight 0.7s ease-out forwards;
}
.animate-slide-in-left {
  animation: slideInLeft 0.7s ease-out forwards;
}
.animate-slide-out-left {
  animation: slideOutLeft 0.7s ease-out forwards;
}
.animate-slide-out-right {
  animation: slideOutRight 0.7s ease-out forwards;
}
@keyframes contentInRight {
  from {
    opacity: 0;
    transform: translateX(30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes contentInLeft {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.animate-text-right {
  animation: contentInRight 0.7s ease-out;
}
.animate-text-left {
  animation: contentInLeft 0.7s ease-out;
}
.animate-img-right {
  animation: contentInRight 0.7s ease-out;
}
.animate-img-left {
  animation: contentInLeft 0.7s ease-out;
}
