@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;

  --primary: #4b2615;
  --primary-foreground: #ffffff;

  --font-inter: "Inter", Arial, Helvetica, sans-serif;
  --font-cairo: "Cairo", Arial, Helvetica, sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --font-sans: "Inter", Arial, Helvetica, sans-serif;
  --font-mono: "Inter", monospace;

  --font-inter: "Inter", Arial, Helvetica, sans-serif;
  --font-cairo: "Cairo", Arial, Helvetica, sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
}

[dir="ltr"] {
  font-family: var(--font-inter);
}

[dir="rtl"] {
  font-family: var(--font-cairo);
}

/* Custom Swiper Navigation Styles */
.swiper-button-next,
.swiper-button-prev {
  color: #000000 !important;
  width: 24px !important;
  height: 24px !important;
}
